{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^\\$(.*)$", "^./(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "preserve",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
